<a href="https://colab.research.google.com/github/vptauffer/Ola-Mundo/blob/master/Curso_Libania_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import random
x = random.randint(1,11)
print(x)

3

In [21]:
import pandas as pd
# Dataframe
dados = pd.read_excel("http://profalibania.com.br/ds/secao04video03.xlsx")
display(dados)

         Data  Número do prontuário Dia da semana  Sexo  Idade
0  2025-05-25                190501           dom   fem     49
1  2025-05-25                190502           dom   fem     53
2  2025-05-25                190503           dom  masc     35
3  2025-05-25                190504           dom   fem     39
4  2025-05-25                190505           dom   fem     46
5  2025-05-25                190506           dom  masc     71
6  2025-05-25                190507           dom   fem     48
7  2025-05-25                190508           dom  masc     63
8  2025-05-25                190509           dom   fem     69
9  2025-05-26                190510           seg   fem     60
10 2025-05-26                190511           seg  masc     33
11 2025-05-26                190512           seg   fem     50
12 2025-05-26                190513           seg   fem     57
13 2025-05-26                190514           seg  masc     35
14 2025-05-26                190515           seg  masc     53
15 2025-05-26                190516           seg   fem     33
16 2025-05-27                190517           ter   fem     37
17 2025-05-27                190518           ter   fem     65
18 2025-05-27                190519           ter  masc     57
19 2025-05-27                190520           ter   fem     49

In [22]:
display(dados['Número do prontuário'])

0     190501
1     190502
2     190503
3     190504
4     190505
5     190506
6     190507
7     190508
8     190509
9     190510
10    190511
11    190512
12    190513
13    190514
14    190515
15    190516
16    190517
17    190518
18    190519
19    190520
Name: Número do prontuário, dtype: int64

In [27]:
a = 10
b = 15
c = 10
print (a>b)
print (a<b)

print (a == b) #para poder comparar 2 variáveis
print (a ==c)
print (a != b)  # comparação negativa

False
True
False
True
True

In [37]:
import pandas as pd
dados = pd.read_excel("http://profalibania.com.br/ds/secao04video03.xlsx")

print(len(dados))  # quantas linhas de dados tem

soFem = dados[dados['Sexo'] == 'fem']
print(len(soFem))

20
13