<a href="https://colab.research.google.com/github/vptauffer/Ola-Mundo/blob/master/Curso_Libania_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
import pandas as pd
dados = pd.read_excel('http://profalibania.com.br/ds/secao04video05.xlsx')

dados

# queremos ordenar e checar os 5 países que mais gastam per capita

paises = dados.sort_values(by=['Gasto per capita'],ascending=False)
display(paises.head(5)) # os 5 primeiros
display(paises.tail(5)) # os 5 últimos

             País   % PIB  Gasto per capita  Pop em milhões
48  United States  16.937          10586.08        327167.0
45    Switzerland  12.183           7316.60          8513.0
35         Norway  10.182           6186.92          5312.0
17        Germany  11.229           5986.43         82914.0
44         Sweden  11.037           5447.11         10175.0

            País  % PIB  Gasto per capita  Pop em milhões
42  South Africa  8.094           1071.56       57726.000
8       Colombia  7.226            960.17       49834.000
7          China  5.019            688.00        1415.046
22     Indonesia  3.126            300.55      265015.000
21         India  3.621            208.77        1354.052