<a href="https://colab.research.google.com/github/vptauffer/Ola-Mundo/blob/master/Curso_Libania_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
import pandas as pd
dados = pd.read_excel('http://profalibania.com.br/ds/secao04video05.xlsx')

dados

# queremos ordenar e checar os 5 países que mais gastam per capita

paises = dados.sort_values(by=['Gasto per capita'],ascending=False)

paises = paises.reset_index()  # vamos resetar o index para os 5 primeiros começarem do zero

display(paises.head(5)) # os 5 primeiros
display(paises.tail(5)) # os 5 últimos

   index           País   % PIB  Gasto per capita  Pop em milhões
0     48  United States  16.937          10586.08        327167.0
1     45    Switzerland  12.183           7316.60          8513.0
2     35         Norway  10.182           6186.92          5312.0
3     17        Germany  11.229           5986.43         82914.0
4     44         Sweden  11.037           5447.11         10175.0

    index          País  % PIB  Gasto per capita  Pop em milhões
44     42  South Africa  8.094           1071.56       57726.000
45      8      Colombia  7.226            960.17       49834.000
46      7         China  5.019            688.00        1415.046
47     22     Indonesia  3.126            300.55      265015.000
48     21         India  3.621            208.77        1354.052