<a href="https://colab.research.google.com/github/vptauffer/Ola-Mundo/blob/master/Curso_Libania_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [78]:
import pandas as pd
dados = pd.read_excel('http://profalibania.com.br/ds/secao05video01.xlsx')

#agrupar dados por categorias
analise = dados.groupby('Sexo').count()
print(analise)
analise = dados.groupby('Sexo').mean()
print(analise)

# Posso limitar as colunas a serem exibidas:
analise = dados[['Sexo','Idade']].groupby('Sexo').count()
print(analise)

      Data  Número do prontuário  Dia da semana  Idade
Sexo
F     5731                  5731           5731   5731
M     4200                  4200           4200   4200
      Número do prontuário      Idade
Sexo
F             1.905519e+07  53.887280
M             1.905466e+07  54.195238
      Idade
Sexo
F      5731
M      4200